<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mywebsite</title>
  </head>
  <link rel="stylesheet" href="../css/style.css" />
  <style>
    
  </style>
  <body>
    <header class="header">
      <div class="left" id="12">
        <img src="../img/logo.jpg" alt="logo" />
        <div>VitalSense</div>
      </div>
      <div class="mid" id="23">
        <ul class="navbar">
          <li class="hi"><a href="home.html" class="active">Home</a></li>
          <li class="hi"><a href="AboutUs.html">About us</a></li>
          <li class="hi"><a href="Resources.html">Resources</a></li>
          <li class="hi"><a href="contactus.html">Contact Us</a></li>
          </ul>
          </div>
      <div class="right" id="25">
        <button><a href="login.html">Login</a></button>
        <div><a href="creataccount.html">Create Account</a></div>
      </div>
    </header>
  </body>
</html>
